@font-face {
  font-family: 'iconfont';  /* Project id 2556799 */
  src: url('//at.alicdn.com/t/font_2556799_zg3oux9arnk.woff2?t=1622462774296') format('woff2'),
       url('//at.alicdn.com/t/font_2556799_zg3oux9arnk.woff?t=1622462774296') format('woff'),
       url('//at.alicdn.com/t/font_2556799_zg3oux9arnk.ttf?t=1622462774296') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: .16rem;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}